<% if (typeof isLoggedIn !== 'undefined' && isLoggedIn === true) { %>
    <form action="/cart" method="post">
        <input type="hidden" name="id" value="<%= product._id %>" />
        <button class="btn" type="submit">Add to Cart</button>
    </form>
<% } %>
