<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main.css">
        <% if (typeof formsCSS !== 'undefined') { %>
            <link rel="stylesheet" href="/css/forms.css">
        <% } %>
        <% if (typeof productCSS !== 'undefined') { %>
            <link rel="stylesheet" href="/css/product.css">
        <% } %>
        <% if (typeof cartCSS !== 'undefined') { %>
            <link rel="stylesheet" href="/css/cart.css">
        <% } %>
        <% if (typeof ordersCSS !== 'undefined') { %>
            <link rel="stylesheet" href="/css/orders.css">
        <% } %>
        <% if (typeof authCSS !== 'undefined') { %>
            <link rel="stylesheet" href="/css/auth.css">
        <% } %>
    </head>
    <body>
